 <% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>

  <p id="notice"></p>
	<h1>Books</h1>

	<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>


  <tbody>

 <% @blogs.each do |blog| %>
  <tr>
  <td><%= blog.title %></td>
  <td><%= blog.body %></td>
 <td><%= link_to "Show",blog_path(blog.id),class: "show_#{blog.id}" %></td>

<td><%= link_to "Edit",edit_blog_path(blog.id),class: "edit_#{blog.id}" %></td>

<td><%= link_to "Destroy", blog_path(blog.id),class: "destroy_#{blog.id}" ,method: :delete, "data-confirm" => "Are you sure?" %></td>
</tr>
  <% end %>



  </tbody>
</table>

<%= form_for(@blog) do |f| %>
 <h2>New book</h2>
    <h4>title</h4>
    <%= f.text_field :title,class: "book_title" %>

    <h4>body</h4>
    <%= f.text_area :body,class: "book_body" %>

    <%= f.submit 'Create Book' %>

<% end %>
</body>
</html>
