<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>

<h2>Title</h2>
<p><%= @blog.title %></p>
<h2>Body</h2>
<p><%= @blog.body %></p>

<p>
	<%= link_to "Edit", edit_blog_path(@blog.id),class: "edit_#{@blog.id}" %>

|
	<%= link_to "Back", new_blog_path,class: "back" %></p